# Suppress deprecation warnings for @esbuild-kit packages
# These are transitive dependencies from drizzle-kit and are harmless
# The warnings don't affect functionality - drizzle-kit will update in future versions
loglevel=warn

